*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cardcontainer{
    width: 300px;
    margin: 100px auto;
    /* height: 100vh; */
    text-align: center;
    border: 2px solid orange;
}
.cardcontainer .image{
    width: 100%;
    /* height: 250px; */
    overflow: hidden;
}
.cardcontainer .image img{
    width: 100%;
}